.songDetail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.song-Coverimage {
  height: 80px;
  margin-right: 10px;
  @media screen and (min-width: 768px) {
    height: 140px;
  }
}
.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.time-duration {
  color: #ffffff;
  font-family: Roboto;
  margin-right: 10px;
}
.duration-delete-container {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px){
    margin-right: 25px;
  }
}
.music-div {
  display: flex;
  align-items: center;
}
.music-name {
  font-family: Roboto;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
}
.music-genre {
  font-family: Roboto;
  color: #3b82f6;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
